<div class="container my-4 text-center">
  <p class="display-4">My Wallet</p>
      <p class="fs-5 mt-4">Fondi Disponibili: <Span>500 €</Span></p>
      <label class="form-label mt-3">Metodo di Pagamento</label>
        <select class="form-select">
          <option value="" selected disabled>Select an option</option>
          <option value="">Credit Card</option>
          <option value="">Contanti Saluti</option>
        </select>
        <label class="form-label mt-3">Importo</label>
        <input class="form-control" type="text">
        <div>
        <button class="btn btn-success mt-3"> Ricarica</button>
        </div>


</div>













<!-- <div class="container text-center mb-5">
  <h2>Wallet</h2>

<div class="row justify-content-center mt-5">
  <p class="fs-4 col-8">Fondi Disponibili : <span class="">500€</span></p>
  <h3 class="mt-4">Ricarica il Tuo Wallet</h3>
  <form class=" col-8 mt-4">
    <label class="col-8" for="">Aggiungi fondi :
      <input class=" " type="text">
    </label>


    <button class="col-7 btn btn-success mt-4">Ricarica</button>
  </form>
</div>
</div> -->

