#flex {
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  align-content: center;
  justify-content: baseline;
}
.brd {
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.xbutton {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
