<div class="container-fluid">
  <div class="container">
    <div class="d-flex flex-column align-items-center text-center">

      <p class="brd">Nome</p>
      <div>
        <p *ngIf="!editMode" class="border">{{user.nome}}</p>
        <input type="text" [(ngModel)]="user.nome" *ngIf="editMode">
      </div>
      <p class="brd">Cognome</p>
      <div>
        <p *ngIf="!editMode">{{ user.cognome }}</p>
        <input type="text" [(ngModel)]="user.cognome" *ngIf="editMode">
      </div>
      <p class="brd">Email</p>
      <div>
        <p *ngIf="!editMode">{{ user.email }}</p>
        <input type="text" [(ngModel)]="user.email" *ngIf="editMode">
      </div>
      <p *ngIf="!editMode" class="brd">Address</p>
      <div>
        <p *ngIf="!editMode">{{joinAddress(user.address)}}</p>
        <div id="flex" class="d-flex flex-column justify-content-evenly text-center" *ngIf="editMode">
          <div class="brd">Stato</div>
          <input type="text" [(ngModel)]="user.address.state" placeholder="nazione">
          <div class="brd">Provincia</div>
          <input type="text" [(ngModel)]="user.address.province" placeholder="provincia">
          <div class="brd">Città</div>
          <input type="text" [(ngModel)]="user.address.city" placeholder="citta">
          <div class="brd">Cap</div>
          <input type="text" [(ngModel)]="user.address.cap" placeholder="cap">
          <div class="brd">Via</div>
          <input type="text" [(ngModel)]="user.address.street" placeholder="strreet">
          <div class="brd">Nr° civico</div>
          <input type="text" [(ngModel)]="user.address.number " placeholder="number">

        </div>
      </div>
      <p *ngIf="!editMode" class="brd">Balance</p>
      <div>
        <p *ngIf="!editMode">{{ user.balance | currency :'EUR'}}</p>
      </div>
      <p *ngIf="!editMode" class="brd">Level</p>
      <div>
        <p *ngIf="!editMode">{{ user.level | uppercase }}</p>
      </div>

      <button type="button" class="xbutton profile-button px-5 mb-3" (click)="toggleEditMode()">Modifica</button>
      <button type="button" class="wbutton profile-button px-5" *ngIf="editMode" (click)="editUser(user)">Salva
        modifiche</button>

    </div>
  </div>
</div>
