<div class="container-fluid">
  <div class="container">
    <div class="d-flex flex-column align-items-center text-center">
      <p>nome</p>
      <div>
        <p *ngIf="!editMode">{{user.nome}}</p>
        <input type="text" [(ngModel)]="user.nome" *ngIf="editMode">
      </div>
      <p>cognome</p>
      <div>
        <p *ngIf="!editMode">{{ user.cognome }}</p>
        <input type="text" [(ngModel)]="user.cognome" *ngIf="editMode">
      </div>
      <p>email</p>
      <div>
        <p *ngIf="!editMode">{{ user.email }}</p>
        <input type="text" [(ngModel)]="user.email" *ngIf="editMode">
      </div>
      <p>address</p>
      <div>
        <p *ngIf="!editMode">{{joinAddress(user.address)}}</p>
        <div class="d-flex flex-wrap justify-content-evenly" *ngIf="editMode">
          <input type="text" [(ngModel)]="user.address.state">
          <input type="text" [(ngModel)]="user.address.province">
          <input type="text" [(ngModel)]="user.address.city">
          <input type="text" [(ngModel)]="user.address.cap">
          <input type="text" [(ngModel)]="user.address.street">
          <input type="text" [(ngModel)]="user.address.number">

        </div>
      </div>
      <p>balance</p>
      <div>
        <p *ngIf="!editMode">{{ user.balance | currency :'EUR'}}</p>
      </div>
      <p>level</p>
      <div>
        <p *ngIf="!editMode">{{ user.level | uppercase }}</p>
      </div>

        <button type="button" class="wbutton profile-button px-5" (click)="toggleEditMode()">Modifica</button>
        <button type="button" class="wbutton profile-button px-5" *ngIf="editMode" (click)="editUser(user)">Salva modifiche</button>

    </div>
  </div>
</div>
