<div class="row">
  <app-loader [loading]="loading"></app-loader>
  <div class="alert alert-warning" *ngIf="noRes">
  <p class="text-center">Non ci sono risultati per la categoria {{catName}}</p>
  </div>
  <div class="alert alert-info" *ngIf="noRes">
  <p class="text-center">Guarda pure in altri prodotti presenti su WishPop</p>
  </div>
  <div class="alert alert-success" *ngIf="!noRes">
    <p class="text-center">Ecco i risultati per {{catName}}</p>
  </div>
  <div class="col-12 col-md-6 col-lg-3" *ngFor="let p of prodArr">
    <app-card-product [product]="p"></app-card-product>
  </div>

</div>
