<form>
  <div>Nome</div>
  <input type="text" name="nome" placeholder="nome">
  <div>Cognome</div>
  <input type="text" name="cognome" placeholder="cognome">
  <div>Email</div>
  <input type="email" name="email" placeholder="e-mail">
  <div>Password</div>
  <input type="password" name="password" placeholder="password">
  <div>Data di nascita</div>
  <input type="date" name="date" placeholder="il tuo compleanno ">
  <div>Luogo di nascita</div>
  <input type="text" name="luogo" placeholder="luogo di nascita">
  <div>Sesso</div>
  <div class="d-flex">
    <input type="checkbox" name="checkbox" title="M">
    <input type="checkbox" name="checkbox" title="F">
  </div>
  <div>Dove Vivi</div>
  <div>stato</div>
  <input type="text" name="stato" placeholder="stato di residenza">
  <div>Paese/Citta</div>
  <input type="address" name="citta" placeholder="citta">
  <div>Via/Viale/piazza</div>
  <input type="address" name="via" placeholder="la tua via">
  <div>Numero Civico</div>
  <input type="number" name="nrCivico" placeholder="nr°">
  <div>Codice Postale</div>
  <input type="number" name="cap" placeholder="Cap">
  <div>Metodo di Pagamento</div>
  <select name="Metodo" title="metodo di pagamento">
    <option value="carta di credito">Carta di credito</option>
    <option value="bacomat">Bancomat</option>
    <option value="contrassegno">Contrassegno</option>
    <option value="scalapay">ScalaPay</option>
  </select>
  <div>Metodo di spedizione</div>
  <select name="delivery" title="consegna" id="delivery"> Spedizione</select>
  <option value="base">Base</option>
  <option value="premium">Premium</option>
</form>