<div class="container my-4 text-center">
  <p class="display-4">My Orders</p>
      <label for="filterCategory" class="form-label">Filter for</label>
        <select id="filterCategory" class="form-select">
          <option value="" selected disabled>Select an option</option>
          <option value="category1">Data</option>
          <option value="category2">Categories</option>
        </select>
</div>

<div class="row px-3">
  <div class="image-container col-3">
      <img src="percorso_dell_immagine" alt="Immagine">
  </div>
  <div class="info-container col-6">
      <h2>Titolo</h2>
      <p>Numero Ordine: #123456</p>
      <p>Descrizione: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="details-container col-3">
      <p>Data</p>
      <p>Category</p>
  </div>
</div>
