/* You can add global styles to this file, and also import other style files */
input,
textarea::placeholder {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(80, 201, 175);
}

input,
textarea,
label {
  text-align: center;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.wbutton {
  border: none;
  border-radius: 8px;
  padding: 5px;
  width: 50%;
  align-self: center;
  transition-delay: 0.2ms;
  transition-duration: 0.2s;
  cursor: pointer;
  &.rosso:hover {
    background-color: rgb(223, 85, 85);
    color: rgb(252, 252, 252);
  }
  &:hover {
    background-color: rgb(80, 160, 80);
    color: white;
  }
  &.card-button:hover{
    background-color: rgb(80, 160, 160);
    color: white;
  }
  &.profile-button:hover{
    background-color: rgb(168, 106, 197);
    color: white;
  }
}
