/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-color: rgb(170, 233, 233);
  --gradient-start: rgb(177, 214, 214);
  --gradient-mid: rgb(195, 219, 189);
  --gradient-end: rgb(207, 195, 168);
  --copyright-bg: rgb(195, 219, 189);
}



.copyright-container {
  background-color: var(--copyright-bg);
}


input, textarea::placeholder{
  text-align: center;
}

input,
textarea,
label {
  text-align: center;
}

.wish-link {
  text-decoration: none;
  color: rgb(168, 106, 197);
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.wbutton {
  border: none;
  border-radius: 8px;
  padding: 5px;
  width: 50%;
  align-self: center;
  transition-delay: 0.2ms;
  transition-duration: 0.2s;
  cursor: pointer;
  &.rosso:hover {
    background-color: rgb(223, 85, 85);
    color: rgb(252, 252, 252);
  }
  &:hover {
    background-color: rgb(80, 160, 80);
    color: white;
  }
  &.card-button:hover {
    background-color: rgb(80, 160, 160);
    color: white;
  }
  &.profile-button:hover {
    background-color: rgb(168, 106, 197);
    color: white;
  }
  &.selected{
    background-color: rgb(80, 160, 160);
    color: white;
  }
  &.modifica:hover {
    background-color: yellow;
    color: black;
  }
}
