
.link{
  text-align: center;
  position: absolute;
  right: 100px;
}
.link a:hover{
  background-color: rgb(80, 160, 80)
}

.profile-icon {
  width: 50px;
}

left{
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
}
