.container-fluid {
  background-image: linear-gradient(
    352deg,
    rgb(177, 214, 214) 0%,
    rgb(195, 219, 189) 47%,
    rgb(207, 195, 168) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  height: 100vh;
}
.container {
  height: 100%;
  width: 300rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background: inherit;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
.container:before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(246, 245, 245, 0.5);
  filter: blur(1px);
  margin: -20px;
  z-index: -1;
}
