<div class="container-fluid">
  <div class="container">
    <h1 class="playtitle text-center mb-2">WishPop</h1>
    <h2 class="jostsott text-center mb-2">Categorie</h2>

    <app-loader [loading]="loading"></app-loader>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3" *ngFor="let cat of catArr">
        <app-card-category [cat]="cat"></app-card-category>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="container">
      <div
        class="mt-4 mx-4 d-flex flex-column gap-4 align-items-sm-center d-md-flex flex-md-row justify-content-md-between">

        <img src="../../../assets/img/gatto-removebg-preview.png" alt="" class="img img-fluid">

        <div>

          <h2 id='text' class="playtitle text-center">WhishPop,

            lo
            shopping facile!! </h2>
          <h4 class="jostsott text-center">Affrettati numerose occasioni ti aspettano!!</h4>
        </div>

      </div>
    </div>
  </div>