<a routerLink="/auth/login" class="mx-2">login</a>
<a [routerLink]="['/auth', 'register']" class="mx-2">register</a>
<a [routerLink]="['/dashboard', 'addproduct']" class="mx-2">add product</a>
<a routerLink="/auth/login">login</a>
<a routerLink="/home">home</a>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WishPop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Accedi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/register">Registrati</a>
      </li>

    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
