<div class="row px-3">
  <div class="image-container col-3">
      <img src="percorso_dell_immagine" alt="Immagine">
  </div>
  <div class="info-container col-6">
      <h2>Titolo</h2>
      <p>Numero Ordine: #123456</p>
      <p>Prezzo:</p>
      <p>O proposta d'acquisto</p>
      <p>Descrizione: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-3">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Azioni
          </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Azione 1</button>
          <button ngbDropdownItem>Azione 2</button>
          <button ngbDropdownItem>Azione 3</button>
        </div>
      </div>
</div>




