.card {
  width: 190px;
  height: 110px;
  background-image: url("https://th.bing.com/th/id/OIP.B2BCUu1rP3zq-ubFsP0eQAHaEK?w=312&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 10px;
  p {
    text-align: center;
    margin-top: 30px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: x-large;
  }
}
