<div class="card p-0" style="width: 15rem;">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img class="card-img-top mt-3 mr-0 p-0" src="https://media.istockphoto.com/id/1296158976/it/foto/mani-femminili-in-guanti-a-maglia-con-cuore-innevato-sullo-sfondo-della-neve.jpg?s=612x612&w=0&k=20&c=5pT-Q9QEwv5MsVjbMxGTfOuoJFluEU7HtveyBC6XXbs=" alt="Card image cap">
    </div>
    <div class="col-md-6 m-0 p-0">
      <div class="card-body">
        <p class="card-text text-wrap">Non perderti i saldi su tutti i nuovi arrivi invernali.

        </p>
      </div>

    </div>
  </div>
  <div class="card-footer">
    1 ora
  </div>
</div>
