<div class="container mt-4">
  <h5>Registrazione</h5>
  <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <!-- Stato -->
    <div class="mb-3">
      <label for="shippingState" class="form-label">Stato</label>
      <input type="text" class="form-control" name="state" #state="ngModel" ngModel placeholder="Inserisci lo stato">
    </div>

    <!-- Città -->
    <div class="mb-3">
      <label for="shippingCity" class="form-label">Città</label>
      <input type="text" class="form-control" name="city" #city="ngModel" ngModel placeholder="Inserisci la città">
    </div>

    <!-- Indirizzo e Numero Civico -->
    <div class="mb-3">
      <label for="shippingAddress" class="form-label">Indirizzo</label>
      <input type="text" class="form-control" name="street" #street="ngModel" ngModel
        placeholder="Inserisci l'indirizzo">
    </div>

    <div class="mb-3">
      <label for="shippingNumber" class="form-label">Numero Civico</label>
      <input type="text" class="form-control" name="number" #number="ngModel" ngModel
        placeholder="Inserisci il numero civico">
    </div>

    <!-- Provincia -->
    <div class="mb-3">
      <label for="shippingProvince" class="form-label">Provincia</label>
      <input type="text" class="form-control" name="province" #province="ngModel" ngModel
        placeholder="Inserisci la provincia">
    </div>

    <!-- CAP -->
    <div class="mb-3">
      <label for="shippingPostalCode" class="form-label">CAP</label>
      <input type="text" class="form-control" name="cap" #cap="ngModel" ngModel placeholder="Inserisci il CAP">
    </div>

    <!-- Metodo di Pagamento Preferito -->
    <div class="mb-3">
      <label for="paymentMethod" class="form-label">Metodo di pagamento preferito</label>
      <select class="form-select" name="favPayMethod" #favPayMethod="ngModel" ngModel>
        <option selected>Scegli il metodo di pagamento...</option>
        <option value="creditCard">Carta di Credito</option>
        <option value="paypal">PayPal</option>
        <option value="bankTransfer">Bonifico Bancario</option>
      </select>
    </div>


    <!-- Confirm Password -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Conferma Password</label>
      <input type="password" class="form-control" name="confirmPassword" #confirmPassword="ngModel" ngModel placeholder="Inserisci la tua password">
    </div>

    <button type="submit" class="btn btn-primary">Invia</button>
  </form>
</div>
