<div class="container-fluid">
<div class="container">
  <h5 class="text-center">Registrati</h5>
  <form #f="ngForm" class="form">
    <div class="form-group">
      <label class="text-center" for="nome">Nome</label>
      <input name="nome" type="text" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
      <label class="text-center" for="email">Email</label>
      <input name="email" type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="text-center" for="password">Password</label>
      <input name="password" type="password" class="form-control" placeholder="Password">
    </div>
<hr>
    <button class="btn">Registrami</button>
  </form>
</div>
</div>
