<div class="container-fluid">

  <div class="container" *ngIf="!choosen">
    <h1 class="playtitle text-center mb-4 mt-5">Accedi o Registrati</h1>
    <div class=" d-flex flex-column align-items-center gap-4 mt-5">
      <div class="d-flex flex-column align-items-center gap-4 mt-2">
        <p class="jostsott h3 mt-3">Sei già registrato?</p>
        <button type="button" (click)="choose()" routerLink="/auth/login" class="wbutton mt-2">Accedi</button>
      </div>
      <div id="border" class="d-flex flex-column align-items-center gap-4">
        <p class=" jostsott mt-3">Non sei registrato?</p>
        <button type="button" (click)="choose()" routerLink="/auth/register" class="xbutton mt-2">Registrati</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>