<div class="ag-format-container ">
  <div class="ag-courses_box">
    <div class="ag-courses_item " [routerLink]="['/home','categories']" (click)="setCategory(cat)">
      <a  routerLinkActive="router-link-active"  class="ag-courses-item_link">
        <div class="ag-courses-item_bg" [style.backgroundColor]="cat.color"></div>
        <div class="ag-courses-item_title">
          {{cat.name}}
        </div>
        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            04.11.2022
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
